# Ignore PDF files
*.pdf
*.txt
*.json  
*.html
*.typ
*.png
*.yaml
cv_adapter/src/__pycache__/cv_extraction.cpython-313.pyc
__pycache__
.streamlit/secrets.toml
token_drive.pickle
client_secret.json
TUTORIAL_GOOGLE_DRIVE.md
TUTORIAL_GOOGLE_DRIVE_STREAMLIT_EN.md
TUTORIAL_GOOGLE_DRIVE_ES.md
TUTORIAL_GOOGLE_DRIVE_EN.md
